{% extends 'base.html' %}


{% block main %}
{% load i18n %}
<div class="container fade">
    <div class="column_left">
        {% include 'metal_calc/inc/_drawings.html' %}
    </div>
    <div class="column_right">
        {% include 'metal_calc/inc/_form-select-metals.html' %}
        <br>
        {% include 'metal_calc/inc/_form-calculator-fields.html' %}
        <br>
        {% if error_message %}<p class="text-danger">{% trans "Check that the data you entered is correct!" %}</p><br>{% endif %}
        <div class="container">
            <div class="column_left">
                <div class="form-floating" id="r">
                    <input id="weight" type="text" class="form-control" readonly placeholder="{% trans 'Weight, kg' %}" name="weight" value="{% if weight %}{{ weight }}{% else %}0.00{% endif %}" onfocus="this.select()">
                    <label for="weight">{% trans "Weight, kg" %}</label>
                </div>
            </div>
            <div class="column_right">
                <div class="form-floating">
                    <button class="btn" form="calculator" type="submit">{% trans "CALCULATE" %}</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main %}