{% load static %}
<meta name="description" content="{{ page_info.description }}">
<meta name="keywords" content="{{ page_info.keywords }}">
<meta property="og:locale" content="ru_RU">
<meta property="og:type" content="article">
<meta property="og:title" content="{{ page_info.title }}">
<meta property="og:description" content="{{ page_info.description }}">
<meta property="og:image" content="https://{{ site_url }}{% static 'img/bg-meta.png' %}">
<meta property="og:url" content="https://{{ site_url }}">
<meta property="og:site_name" content="{{ page_info.title }}">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="{{ page_info.title }}">
<meta name="twitter:title" content="{{ page_info.title }}">
<meta name="twitter:description" content="{{ page_info.description }}">
<meta name="twitter:image" content="https://{{ site_url }}{% static 'img/bg-meta.png' %}">