@charset "UTF-8";
.main, .dashboard {
    background-color: #272b30;
}

#header, .module h2, .module caption, div.breadcrumbs, .selector-chosen h2 {
    background-color: #3a3f44 !important;
}

a {
    color: #fff !important;
}

#nav-sidebar .current-model {
    background-color: #23272b;
}

tr:nth-child(2n+1) {
    background-color: #44494e;
}

tr:nth-child(2n) {
    background-color: #81888e;
}

ul.messagelist li {
    background-color: #6ac76a;
}

#changelist .actions, #changelist .paginator {
    width: auto !important;
}