{% load static %}{% spaceless %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="refresh" content="5; url={% url 'home' %}">
    {% include 'metalCalc/inc/_favicons.html' %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/reset.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Страница не найдена</title>
</head>
<body>
<div class="wrapper">
    <div style="text-align: center">
        <h1>Страница не найдена</h1>
        <p>Страница {{ wrong_url }} не найдена на этом сайте.</p>
        <p>Вы будете перенаправлены на главную страницу через 5 секунд.</p>
    </div>
</div>
</body>
</html>{% endspaceless %}