{% load static i18n %}
{% if metal_shape_selected == 1 %}<img class="img" src="{% static 'img/drawings/beam.svg' %}" alt="{% trans 'Beam' %}">{% endif %}
{% if metal_shape_selected == 2 %}<img class="img" src="{% static 'img/drawings/square_bar.svg' %}" alt="{% trans 'Square bar' %}">{% endif %}
{% if metal_shape_selected == 3 %}<img class="img" src="{% static 'img/drawings/round_bar.svg' %}" alt="{% trans 'Round bar' %}">{% endif %}
{% if metal_shape_selected == 4 %}<img class="img" src="{% static 'img/drawings/sheet.svg' %}" alt="{% trans 'Sheet' %}">{% endif %}
{% if metal_shape_selected == 5 %}<img class="img" src="{% static 'img/drawings/flat_bar.svg' %}" alt="{% trans 'Flat bar' %}">{% endif %}
{% if metal_shape_selected == 6 %}<img class="img" src="{% static 'img/drawings/round_tube.svg' %}" alt="{% trans 'Round tube' %}">{% endif %}
{% if metal_shape_selected == 7 %}<img class="img" src="{% static 'img/drawings/profile_tube.svg' %}" alt="{% trans 'Profile tube' %}">{% endif %}
{% if metal_shape_selected == 8 %}<img class="img" src="{% static 'img/drawings/metal_angle.svg' %}" alt="{% trans 'Metal angle' %}">{% endif %}
{% if metal_shape_selected == 9 %}<img class="img" src="{% static 'img/drawings/metal_channel.svg' %}" alt="{% trans 'Metal channel' %}">{% endif %}
{% if metal_shape_selected == 10 %}<img class="img" src="{% static 'img/drawings/hex_bar.svg' %}" alt="{% trans 'Hex bar' %}">{% endif %}