{% load static %}{% load i18n %}{% trans %}
{% if metal_shape_selected == 1 %}<img class="img" src="{% static 'metal_calc/img/drawings/beam.svg' %}" alt="Балка">{% endif %}
{% if metal_shape_selected == 2 %}<img class="img" src="{% static 'metal_calc/img/drawings/square_bar.svg' %}" alt="Квадрат">{% endif %}
{% if metal_shape_selected == 3 %}<img class="img" src="{% static 'metal_calc/img/drawings/round_bar.svg' %}" alt="Круг">{% endif %}
{% if metal_shape_selected == 4 %}<img class="img" src="{% static 'metal_calc/img/drawings/sheet.svg' %}" alt="Лист">{% endif %}
{% if metal_shape_selected == 5 %}<img class="img" src="{% static 'metal_calc/img/drawings/flat_bar.svg' %}" alt="Полоса">{% endif %}
{% if metal_shape_selected == 6 %}<img class="img" src="{% static 'metal_calc/img/drawings/round_tube.svg' %}" alt="Труба">{% endif %}
{% if metal_shape_selected == 7 %}<img class="img" src="{% static 'metal_calc/img/drawings/tubing.svg' %}" alt="Труба профильная">{% endif %}
{% if metal_shape_selected == 8 %}<img class="img" src="{% static 'metal_calc/img/drawings/angle.svg' %}" alt="Уголок">{% endif %}
{% if metal_shape_selected == 9 %}<img class="img" src="{% static 'metal_calc/img/drawings/channel.svg' %}" alt="Швеллер">{% endif %}
{% if metal_shape_selected == 10 %}<img class="img" src="{% static 'metal_calc/img/drawings/hex_bar.svg' %}" alt="Шестигранник">{% endif %}