{% load static i18n cache cache_time metals %}
<form id="metals" method="POST">
    {% csrf_token %}
    {% get_current_language as LANGUAGE_CODE %}
    {% get_cache_timeout as cache_timeout %}
    {% cache cache_timeout form_select_metals LANGUAGE_CODE %}
    {% get_metals as metals %}
    {% get_metal_alloys as metal_alloys %}
    <div class="container">
        <div class="column_left">
            <label for="metal" class="form-label">{% trans "Metal" %}</label>
            <select form="metals" class="form-select" id="metal" name="metal" onchange="selectMetal(selectedMetal=this.value)">
                {% for metal in metals %}
                    <option value="{{ metal.id }}"{% if metal.id == metal_selected %} selected{% endif %}>{{ metal.metal_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="column_right">
            <label for="metal_alloy" class="form-label">{% trans "Metal alloy" %}</label>
            <select form="metals" class="form-select" id="metal_alloy" name="metal_alloy" onchange="selectMetalAlloy(selectedAlloy=this.value)">
                <option value="0">{% trans "Other" %}</option>
                {% for metal_alloy in metal_alloys %}
                <option value="{{ metal_alloy.id }}"{% if metal_alloy.id == metal_alloy_selected %} selected{% endif %} class="grade {{ metal_alloy.metal_id }} {% if metal_alloy.metal_id == metal_selected %}visible{% else %}hidden{% endif %}">{{ metal_alloy.metal_alloy }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    {% endcache %}
</form>