{% load i18n cache cache_time metal_shapes %}
{% get_current_language as LANGUAGE_CODE %}
{% get_cache_timeout as cache_timeout %}
{% cache cache_timeout header LANGUAGE_CODE %}
{% get_metal_shapes as metal_shapes %}
<header class="header">
    <nav>
        <ul class="nav-tabs">
            {% for metal_shape in metal_shapes %}
                <li class="nav-item">
                    <button class="nav-link" form="metals" type="submit" name="metal_shape" value="{{ metal_shape.id }}"{% if metal_shape.id == metal_shape_selected %} disabled{% endif %}>{{ metal_shape.shape_name }}</button>
                </li>
            {% endfor %}
        </ul>
    </nav>
</header>
{% endcache %}