{% load i18n %}
<div class="locales-switcher">
    <form action="{% url 'set_language' %}" method="POST">{% csrf_token %}
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
            <button class="locale" id="{{ language.code }}" name="language" type="submit" title="{{ language.name_local }}" value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} disabled{% endif %}></button>
        {% endfor %}
    </form>
</div>