{% load i18n %}
<form id="calculator" method="POST">
    {% csrf_token %}
    <input form="calculator" type="hidden" name="metal_shape" value="{{ metal_shape_selected }}">
    <input form="calculator" type="hidden" name="metal" id="metal_selected" value="{{ metal_selected }}">
    <input form="calculator" type="hidden" name="metal_alloy" id="metal_alloy_selected" value="{{ metal_alloy_selected }}">

    {% if metal_shape_selected == 1 or metal_shape_selected == 2 or metal_shape_selected == 4 or metal_shape_selected == 5 or metal_shape_selected == 7 or metal_shape_selected == 8 or metal_shape_selected == 9 %}
    <div class="form-floating">
        <input id="width" type="number" class="form-control" required placeholder="{% trans 'Width a, mm' %}" name="width" min="1" max="100000" value="{% if width %}{{ width }}{% else %}0{% endif %}" onfocus="this.select()">
        <label for="width">{% trans "Width a, mm" %}</label>
    </div>
    {% endif %}

    {% if metal_shape_selected == 1 or metal_shape_selected == 4 or metal_shape_selected == 7 or metal_shape_selected == 8 or metal_shape_selected == 9 %}
    <div class="form-floating">
        <input id="height" type="number" class="form-control" required placeholder="{% trans 'Height b, mm' %}" name="height" min="1" max="100000" value="{% if height %}{{ height }}{% else %}0{% endif %}" onfocus="this.select()">
        <label for="height">{% trans "Height b, mm" %}</label>
    </div>
    {% endif %}

    {% if metal_shape_selected == 3 or metal_shape_selected == 6 or metal_shape_selected == 10 %}
    <div class="form-floating">
        <input id="diameter" type="number" class="form-control" required placeholder="{% trans 'Diameter d, mm' %}" name="diameter" min="1" max="100000" value="{% if diameter %}{{ diameter }}{% else %}0{% endif %}" onfocus="this.select()">
        <label for="diameter">{% trans "Diameter d, mm" %}</label>
    </div>
    {% endif %}

    {% if metal_shape_selected == 1 or metal_shape_selected == 4 or metal_shape_selected == 5 or metal_shape_selected == 6 or metal_shape_selected == 7 or metal_shape_selected == 8 or metal_shape_selected == 9 %}
    <div class="form-floating">
        <input id="s" type="number" class="form-control" required placeholder="{% trans 'Thickness s, mm' %}" name="s" min="0" max="100000" step="0.1" value="{% if s %}{{ s }}{% else %}0.0{% endif %}" onfocus="this.select()">
        <label for="s">{% trans "Thickness s, mm" %}</label>
    </div>
    {% endif %}

    {% if metal_shape_selected == 1 %}
    <div class="form-floating">
        <input id="s2" type="number" class="form-control" required placeholder="{% trans 'Thickness s2, mm' %}" name="s2" min="0" max="100000" step="0.1" value="{% if s2 %}{{ s2 }}{% else %}0.0{% endif %}" onfocus="this.select()">
        <label for="s2">{% trans "Thickness s2, mm" %}</label>
    </div>
    {% endif %}

    {% if metal_shape_selected == 4 %}
    <div class="form-floating">
        <input id="quantity" type="number" class="form-control" required placeholder="{% trans 'Number of sheets, pcs.' %}" name="quantity" min="1" max="100000" value="{% if quantity %}{{ quantity }}{% else %}0{% endif %}" onfocus="this.select()">
        <label for="quantity">{% trans "Number of sheets, pcs." %}</label>
    </div>
    {% endif %}

    {% if not metal_shape_selected == 4 %}
    <div class="form-floating">
        <input id="length" type="number" class="form-control" required placeholder="{% trans 'Length, m' %}" name="length" min="1" max="100000" value="{% if length %}{{ length }}{% else %}0{% endif %}" onfocus="this.select()">
        <label for="length">{% trans "Length, m" %}</label>
    </div>
    {% endif %}
</form>