{% load static %}
{% if shape_selected == 1 %}<img class="img" src="{% static 'img/shape_drawings/beam.svg' %}" alt="Балка">{% endif %}
{% if shape_selected == 2 %}<img class="img" src="{% static 'img/shape_drawings/square_bar.svg' %}" alt="Квадрат">{% endif %}
{% if shape_selected == 3 %}<img class="img" src="{% static 'img/shape_drawings/round_bar.svg' %}" alt="Круг">{% endif %}
{% if shape_selected == 4 %}<img class="img" src="{% static 'img/shape_drawings/sheet.svg' %}" alt="Лист">{% endif %}
{% if shape_selected == 5 %}<img class="img" src="{% static 'img/shape_drawings/flat_bar.svg' %}" alt="Полоса">{% endif %}
{% if shape_selected == 6 %}<img class="img" src="{% static 'img/shape_drawings/round_tube.svg' %}" alt="Труба">{% endif %}
{% if shape_selected == 7 %}<img class="img" src="{% static 'img/shape_drawings/tubing.svg' %}" alt="Труба профильная">{% endif %}
{% if shape_selected == 8 %}<img class="img" src="{% static 'img/shape_drawings/angle.svg' %}" alt="Уголок">{% endif %}
{% if shape_selected == 9 %}<img class="img" src="{% static 'img/shape_drawings/channel.svg' %}" alt="Швеллер">{% endif %}
{% if shape_selected == 10 %}<img class="img" src="{% static 'img/shape_drawings/hex_bar.svg' %}" alt="Шестигранник">{% endif %}