{% load metals %}
{% get_metal_types as metal_types %}
{% get_metal_alloys as metal_alloys %}
<form id="metals" method="POST">
    {% csrf_token %}
    <div class="container">
        <div class="column_left">
            <label for="metal_type" class="form-label">Металл</label>
            <select form="metals" class="form-select" id="metal_type" name="metal_type"
                    onchange="selectMetalGrade(selectedMetal=this.value)">
                {% for metal in metal_types %}
                    <option value="{{ metal.id }}"{% if metal.id == metal_type_selected %}
                            selected{% endif %}>{{ metal.metal_type }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="column_right">
            <label for="metal_alloy" class="form-label">Марка сплава</label>
            <select form="metals" class="form-select" id="metal_alloy" name="metal_alloy" onchange="selectMetalAlloy(selectedAlloy=this.value)">
                <option value="0">Прочие</option>
                {% for metal_alloy in metal_alloys %}
                <option value="{{ metal_alloy.id }}"{% if metal_alloy.id == metal_alloy_selected %} selected{% endif %} class="grade {{ metal_alloy.metal_type_id }} {% if metal_alloy.metal_type_id == metal_type_selected %}visible{% else %}hidden{% endif %}">{{ metal_alloy.metal_grade }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</form>