{% load metals %}
{% get_metals as metals %}
{% get_alloys as alloys %}
<form id="metals" method="POST">
    {% csrf_token %}
    <div class="container">
        <div class="column_left">
            <label for="metal" class="form-label">Металл</label>
            <select form="metals" class="form-select" id="metal" name="metal" onchange="selectMetal(selectedMetal=this.value)">
                {% for metal in metals %}
                    <option value="{{ metal.id }}"{% if metal.id == metal_selected %} selected{% endif %}>{{ metal.metal_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="column_right">
            <label for="metal_alloy" class="form-label">Марка сплава</label>
            <select form="metals" class="form-select" id="metal_alloy" name="metal_alloy" onchange="selectMetalAlloy(selectedAlloy=this.value)">
                <option value="0">Прочие</option>
                {% for alloy in alloys %}
                <option value="{{ alloy.id }}"{% if alloy.id == metal_alloy_selected %} selected{% endif %} class="grade {{ alloy.metal_id }} {% if alloy.metal_id == metal_selected %}visible{% else %}hidden{% endif %}">{{ alloy.metal_alloy }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</form>