{% load static i18n site_info %}
{% get_current_language as LANGUAGE_CODE %}
{% get_site_info as site_info %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="refresh" content="5; url={% url 'home' %}">
    {% include 'metal_calc/inc/_favicons.html' %}
    <link rel="preload" href="{% static 'metal_calc/css/reset.css' %}" as="style">
    <link rel="preload" href="{% static 'metal_calc/css/style.css' %}" as="style">
    <link type="text/css" rel="stylesheet" href="{% static 'metal_calc/css/reset.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'metal_calc/css/style.css' %}">
    <title>{% trans "Page not found" %}</title>
</head>
<body>
<div class="wrapper">
    <div style="text-align: center">
        <h1>{% trans "Page not found" %}</h1>
        <p>{% trans "Page" %} <b>https://{{ site_info.site_url }}/{{ wrong_url }}</b> {% trans "not found on this site" %}.</p>
        <p>{% trans "You will be redirected to the home page in 5 seconds" %}.</p>
    </div>
</div>
</body>
</html>